altgraph==0.17.3
asgiref==3.7.2
distlib==0.3.7
Django==4.2.3
djangorestframework==3.14.0
filelock==3.12.2
future==0.18.3
pefile==2023.2.7
platformdirs==3.9.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pytz==2023.3
pywin32-ctypes==0.2.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.0
